@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
nav {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 12px;
  max-width: 100%;
  background-color: #1b1a1a;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
nav ul
{
  position: relative;
  display: flex;
  flex-direction:row;
  gap: 10px;
}
nav ul li
{
  position: relative;
  list-style: none;
}
nav ul li a
{
  position: relative;
  font-size: 1em;
  text-decoration:none;
  line-height: 1.6em;
  letter-spacing: 2px;
  color: transparent;
  -webkit-text-stroke: 0.6px rgba(255, 255, 255, 0.596);
}
nav ul li a::before
{
   content: attr(data-text);
   position: absolute;
   color: rgb(255, 0, 0);
   width: 0;
   overflow: hidden;
   transition: 1s;
  
}
nav ul li a:hover::before
{
  width: 100%;
  -webkit-text-stroke: 1px rgb(255, 0, 0);
  filter: drop-shadow(0 0 25px);
  filter: blur(0 0 35px);
}
.Tittle
{
  color: rgb(223, 230, 230);
  justify-content: center;
  max-width: 1200px;
  letter-spacing: 2px;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.6em;
}
.TextTitle
{
  color: azure;
  text-decoration:underline;
  margin: auto;
  font-size: 3em
}
.box
{
  margin-top: -19em;
  margin-left: 40%;
  width: 45em;
  height: 18em;
  background: linear-gradient(#1b1a1a, #130606);
  align-items: center;
  display:flow-root;
  position: relative;
  filter: drop-shadow(25px 25px 10px);
}
.TextDescribe
{
  color: azure;
  font-size: 1.2em;
}
.image
{
  margin-top: 10em;
  margin-right: 30%;
  width: 25em;
  height: 25em;
  align-items: center;
  background-color: #1b1a1a ;
  filter: drop-shadow(0 0 25px);
  clip-path: circle();
}
img
{
  width: 25em;
  height: 25em;
  clip-path: circle();
}
Footer
{
  text-transform: uppercase;
  justify-content: end;
  margin-top: 10em;
}
.contactMe ul li
{
  display: table-row;
  height: 40px;
}

body
{
  background-color: rgb(46, 63, 110);
}

@media (max-width: 1200px)
{
  .box
  {
    margin-top: -1em;
    margin-left: 0%;
    max-width: 370px;
    height: 450px;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
  }
  .image
  {
    margin-left: 9%;
  }
}